[submodule "src/ondewo-vtsi-api"]
	path = src/ondewo-vtsi-api
	url = https://github.com/ondewo/ondewo-vtsi-api.git
	branch = release/2.0.0
[submodule "src/ondewo-nlu-api"]
	path = src/ondewo-nlu-api
	url = https://github.com/ondewo/ondewo-nlu-api.git
[submodule "src/ondewo-sip-api"]
	path = src/ondewo-sip-api
	url = https://github.com/ondewo/ondewo-sip-api.git
[submodule "src/ondewo-s2t-api"]
	path = src/ondewo-s2t-api
	url = https://github.com/ondewo/ondewo-s2t-api.git
[submodule "src/ondewo-t2s-api"]
	path = src/ondewo-t2s-api
	url = https://github.com/ondewo/ondewo-t2s-api.git
